/* CSS GERAL*/
@import url(https://fonts.googleapis.com/css2?family=Barlow+Condensed%3Awght%40200%3B300%3B400%3B500%3B600%3B700%3B800%3B900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto%3Awght%40300%3B400%3B500%3B700%3B900&display=swap);

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    outline: none;
}

:root {
    /*Background color */
    --bg-white: #fff;
    --bg-dark-color: #961084;

    /*text colors */
    --primary-text: #508aff;
    --secondary-color: #55cfff;
    --light-color: #ffc5fa;
    --dark-color: #961084;
    --text-white: #fff;
    --text-gray: #dee2e6;
    --anchor-color: #007aff;

    /*font family */
    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
}

body,
html {
    color: var(--primary-text);
    font-size: 10px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}

h2 {
    color: var(--primary-text);
    font-size: 4.7rem;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 2rem;
}

h3 {
    color: var(--text-white);
    font-size: 3.1rem;
    line-height: 1.2;
    font-weight: 700;
}

h4 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);
}

h5 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-text);
}

p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 1rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);
}

embed,
iframe,
img,
object {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:active,
a:focus,
a:hover,
button {
    text-decoration: none;
    outline: 0;
}

li a {
    color: var(--text-white);
}

a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var --secondary-color;
}

::-webkit-scrollbar-thumb {
    background: var --secondary-color;
}

.main-btn {
    position: relative;
    color: var(--bg-white);
    background: linear-gradient(to right, #930b97, #e96ade);
    z-index: 1;
    overflow: hidden;
    border: 0.2rem solid var(--bg-white);
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
}

.main-btn:hover {
    background: var(--bg-white);
    color: var --secondary-color;
    border: 0.2rem solid var --secondary-color;
}

section {
    padding: 5rem 0;
}

.section-title {
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-text);
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.section-subtitle {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-text);
    font-family: var(--secondary-font);
    max-width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;
}


.loja .banner_section,
.aulas .banner_section,
.contato .banner_section,
.sobre .banner_section {
    background: url(../images/top-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    min-height: auto;
}

/* Barra de navegação css */
.header {
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;
}

.header .navbar {
    background: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 2rem 5rem;
}

.header .navbar-brand {
    width: 7.5rem;
    margin-top: -0.1rem;
}

.header .navbar-nav .nav-link {
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);
}

.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active {
    color: var(--secondary-color);
}

.header .navbar-toggler {
    color: var(--text-white);
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}

.header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.header .header_right span {
    color: var(--secondary-color);
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 1rem;
}

.header .header_right .phone_no {
    color: var(--text-white);
    font-size: 1.6rem;
}

.header-scrolled {
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    z-index: 999;
    transition: 0.2s all ease-in-out;
}

/* Seção do banner*/
.banner_section {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
}

.banner_section .carousel-item {
    padding: 3rem 0;
    height: 90vh;
}

.banner_section .carousel-caption {
    top: 30%;
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;
}

.banner_section .carousel-caption h3 {
    padding: 0.5rem 1.5rem;
    background: var(--dark-color);
    display: inline;
}

.banner_section .carousel-caption p {
    max-width: 40rem;
    margin-bottom: 2rem;
}



/*Footer CSS */
.footer_wrapper {
    background: url("../images/footer_bg.jpg");
    background-size: cover;
    background-position: no-repeat;
    background-position: top center;
    padding-top: 1.5rem; /*alterar o tamanho da imagem do footer*/
    padding-bottom: 0rem;

}

.footer_wrapper h5 {
    color: var(--text-white);
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}

.footer_wrapper ul li {
    margin-bottom: 0.5rem;
    list-style: none;
}

.footer_wrapper .company_details {
    font-size: 1.4rem;
}

.footer_wrapper .contact-info li a {
    color: var(--text-gray);
    font-size: 1.6rem;
}

.footer_wrapper .link-widget li a,
.footer_wrapper p {
    color: var(--text-gray);
    font-size: 1.6rem;
    padding-left: 1.5rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.footer_wrapper .link-widget li a:before {
    content: '\f105';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer_wrapper .link-widget li a:hover {
    margin-left: .625rem;
    color: var(--secondary-color);
}

.footer_wrapper .social-network a {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.2rem;
    margin: .5rem;
    display: inline-block;
    border: 0.125rem solid var(--text-gray);
    color: var(--text-gray);
    text-align: center;
    font-size: 1.2rem;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.footer_wrapper .social-network a:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-white);
    box-shadow: 0 0.625rem .9375rem 0 rgb(0 0 0 / 10%);
    transform: translateY(-0.1875rem);
}

.footer_wrapper .form-control {
    font-size: 2rem;
    color: var(--text-white);
}

.footer_wrapper .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
}

.footer_wrapper .copyright-section {
    background-color: var(--secondary-color);
    text-align: center;
    margin-top: 1rem; /*alterar o tamanho da imagem do footer*/
}

.footer_wrapper .copyright-section p {
    margin-top: 0;
    padding: 1.5rem 0;
    line-height: 0;
}

.footer_wrapper .copyright-section a {
    color: var(--primary-text);
    font-weight: 600;
}

/* contato pagina css*/
.contato .contact-form {
    background-color: var(--light-color);
    padding: 5rem;
    box-shadow: 0 0.2rem 1.5rem rgb(0 0 0 /4%);
}

.contato .contact-form .form-control:focus {
    outline: none;
    box-shadow: none;
}


.contato .contact-form .form-control::placeholder {
    color: var(--primary-text);
}

.contato .contact-form .form-control {
    padding: 1rem 1.5rem;
    border: 0.1rem solid var(--secondary-color);
    color: var(--primary-text);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--secondary-font);
}

.contato .contact-form textarea {
    min-height: 17rem;
    background:url(https://imgur.com/SlujS84.png) center center no-repeat;
   
}

.contato .contact-form .info-box li {
    position: relative;
    padding-left: 7rem;
    padding-bottom: 3.5rem;
    margin-bottom: 2.9rem;
}

.contato .contact-form .info-box li i {
    position: absolute;
    left: 0;
    top: 1.5rem;
    font-size: 4.5rem;
    line-height: 4.5rem;
    color: var(--primary-text);
}

.contato .contact-form .info-box li i p {
    color: var(--primary-text);
}

.contato .contact-form .info-box li a {
    color: var(--dark-color);
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0;
    font-family: var(--secondary-font);
}


/*sobre pagina css*/
.sobre .about-details p {
    color: var(--primary-text);
}

/* loja pagina css*/
.loja .product-details p {
    margin-bottom: 1.5rem;
}

.loja_section .product-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 0.2rem solid var(--light-color);
    padding: 2rem 1rem;
    transition: all 0.3s;
}

.loja_section .product-card .product-img {
    margin-bottom: 3rem;
    text-align: center;
}

.loja_section .product-card h3 {
    color: var(--primary-text);
}

.loja_section .product-card span {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-right: 0.5rem;
    transition: all 0.3s;
}

.loja_section .product-card .product-detail {
    position: absolute;
    bottom: -22rem;
    right: 0;
    left: 0;
    text-align: center;
    padding: 5rem 1rem;
    background-color: var(--dark-color);
    transition: all 0.5s ease;
}

.loja_section .product-card:hover .product-detail {
    bottom: 0;
}

/* Aula css*/
.aula_section .aula-box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 0.2rem solid var(--light-color);
    padding: 2rem 1rem;
    transition: all 0.3s;
}


.aula_section .aula-box .img-aula {
    margin-bottom: 2rem;
    text-align: center;
}

.aula_section .aula-box h3 {
    color: var(--primary-text);
    text-align: center;
}

.aula_section .aula-box p {
    color: var(--primary-text);
    text-align: center;
}

.aula_section .aula-box .link-aula {
    text-align: center;
}

/* atributos index css */
.atributos_section .features-box {
    background-color: transparent;
    border: 0.15rem solid var(--light-color);
    padding: 8rem 0;
    transition: all 0.3s;
}

.atributos_section .features-icon-border {
    background-color: transparent;
    border-radius: 50%;
    border: 0.2rem solid var(--light-color);
    padding: 1.3rem;
    display: inline-block;
}

.atributos_section .features-box .features-icon {
    height: 6.5rem;
    width: 6.5rem;
    background-color: var(--light-color);
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.atributos_section .features-box .features-icon img {
    width: 3.7rem;
}

.atributos_section .features-box h3 {
    margin-top: 1.5rem;
    color: var(--primary-text);
}

.atributos_section .features-box:hover {
    background-color: var(--bg-dark-color);
    border-color: var(--bg-dark-color);
}

.atributos_section .features-box:hover h3 {
    color: var(--text-white);
}

.atributos_section .features-box:hover .features-icon-border {
    border-color: var(--secondary-color);
}

.loja_section .container h2{

    text-align: center;

}


#msgError {
text-align: center;
color: #ff0000;
background-color: #ffbbbb;
padding: 10px;
border-radius: 4px;
display: none;
}

#msgSuccess {
text-align: center;
color: #00bb00;
background-color: #bbffbe;
padding: 10px;
border-radius: 4px;
display: none;
}